<ion-view view-title="Home" ng-controller="homeCtrl as vm">
  <ion-content>
    <div class="card">
    <div class="item item-avatar">
    <img src="img/avatar.png">
    <h2 ng-bind='vm.fullName'></h2>
    <p ng-repeat="object in vm.data | filter: {id: vm.userID}">{{object.tipo}}</p>
  </div>
  </div>
  &nbsp;&nbsp;&nbsp;
  <a class="button button-block" href="#/menu/dashboardTurma">
    Atividades
  </a>
  <a class="button button-block" href="#/menu/turmas">
    Turmas
  </a>
  <a class="button button-block" href="#/menu/ResumoDoDia">
    Resumo do Dia
  </a>
  <a class="button button-block" href="#/menu/comunicados">
    Comunicados
  </a>

  </ion-content>
</ion-view>
