<ion-view view-title="Atividades " ng-controller="AtividadesIDCtrl as vm">
  <div ng-if="!vm.isCreating && !vm.isEditing">
  <ion-content>
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Digite o Título da atividade ou a data" ng-model="searchText">
    </label>
    <ion-list show-reorder="reordering">
      <ion-item class="item-remove-animate item-icon-right" >
            <h2>Turma: {{vm.perfil.turma}}</h2>
            <p>Período: {{vm.perfil.periodo}}</p>
            <p>Ano: {{vm.perfil.ano}}</p>
      </ion-item>
    </ion-list>
    <div class="item item-divider">
      Atividades
    </div>
    <div class="padding has-header">
        <div class="list card" ng-repeat="object in vm.data |filter: {turmas: vm.turma} | filter:searchText"
             ng-class="{'active':vm.isCurrent(object.id)}">
            <div  class="item item-icon-right item-icon-left">
                <i class="ion-compose icon" ng-click="vm.setEdited(object)"></i>
                <p class="text-center">Data de Entrega: {{object.data | date: 'dd/MM/yyyy'}}</p>
                <h3 class="text-center"><b>{{object.name}}</b></h3>
                <br>
                <i class="icon ion-close-round" ng-click="vm.delete(object.id)"></i>
            </div>
            <div  class="item item-body">
                {{object.description}}
            </div>
        </div>
    </div><br><br>
</ion-content>
      <a id="tabAdicionar" ng-click="vm.isCreating = true" class="button button-small button-positive ion-android-add-circle"> &nbsp;Nova Atividade</a>
</div>
  </div>
  </ion-content>

    <div ng-if="vm.isCreating">
  <ion-content >
      <!-- CREATING -->
      <div class="bar bar-header">
          <h2 class="title">Criar Atividade</h2>
          <span ng-click="vm.cancelCreate()" class="cancel-create">Cancelar</span>
      </div>
      <br><br>
      <div class="padding has-header">

        <form name="ativForm" class="create-form" role="form"
                ng-submit="ativForm.$valid && vm.create(vm.newObject)" novalidate>
              <div class="list">
                <div class="id" ng-bind="vm.newObject.turmas = (vm.turma)"></div>
                  <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : ativForm.titulo.$invalid }">
                      <span class="input-label">Título</span>
                      <input name="titulo" type="text" class="form-control" ng-required="true" ng-model="vm.newObject.name" placeholder="Escreva o Título da atividade">
                  </label>
                  <div class="form-errors" ng-messages="ativForm.titulo.$error" ng-class="{ 'has-error' : ativForm.desc.$invalid }">
                    <div class="form-error" ng-message="required">Título da Atividade Obrigatório!</div>
                  </div>
                  <label class="item item-input item-stacked-label">
                      <span class="input-label">Descrição</span>
                      <textarea name="desc" class="form-control" ng-required="true" ng-model="vm.newObject.description" placeholder="Escreva a descrição"></textarea>
                  </label>
                  <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : ativForm.data.$invalid }">
                      <span class="input-label">Data de Entrega</span>
                      <input name="data" type="date" class="form-control" ng-required="true" ng-model="vm.newObject.data" placeholder="Digite a data">
                      </input>
                  </label>
              </div>
                <div class="form-error" ng-show="ativForm.$error.required">Preencha todos os campos!</div>
              <button class="button button-block button-positive" ng-show='ativForm.$valid' type="submit">Criar</button>
          </form>
      </div>
  </ion-content>
</div>
<div ng-if="vm.isEditing && !vm.isCreating">
    <ion-content >
        <!-- EDITING -->
        <div class="bar bar-header">
            <h1 class="title"> {{vm.edited.name}}</h1>
            <span ng-click="vm.cancelEditing()" class="cancel-create">Cancelar</span>
        </div>
        <br><br>
        <div class="padding has-header">
            <form name="EditForm" class="edit-form" role="form" ng-submit="vm.update(vm.edited)" novalidate>
                <div class="list">
                    <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : EditForm.titulo.$invalid }">
                        <span class="input-label">Título</span>
                        <input name="titulo" type="text" class="form-control" ng-required="true" ng-model="vm.edited.name" placeholder="Edite o Título da atividade">
                    </label>
                    <div class="form-errors" ng-messages="EditForm.titulo.$error">
                      <div class="form-error" ng-message="required">Título da Atividade Obrigatório!</div>
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Descrição</span>
                        <textarea class="form-control" ng-required="true" ng-model="vm.edited.description" placeholder="Edite a descrição"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label" >
                        <span class="input-label">Data de Entrega</span>
                        <input name="data" type="date" class="form-control" ng-required="true" ng-model="vm.edited.data" placeholder="Digite a data">
                        </input>
                    </label>
                </div>
                <div class="form-error" ng-show="EditForm.$error.required">Preencha todos os campos!</div>
                <button class="button button-block button-positive" ng-show='EditForm.$valid' type="submit">Salvar</button>
            </form>
        </div>
    </ion-content>
</div>







  </ion-view>
