<ion-view view-title="Alunos" ng-controller="alunosCtrl as vm">
  <div ng-if="!vm.isCreating && !vm.isEditing">
  <ion-content>
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquise por aluno, responsável ou turma." ng-model="searchText">
    </label>
    <div ng-repeat="object in vm.data | filter:searchText">
      <ion-item class="item-remove-animate item-icon-right"
           ng-class="{'active':vm.isCurrent(object.id)}">
            <h2>Nome: {{object.nome}}</h2><h4>Responsável: {{object.__metadata.descriptives.responsaveis.label}}</h4>
            <p>Matrícula: {{object.matricula}}</p>
            <p>Turma: {{object.__metadata.descriptives.turmas.label}}</p>

            <a ng-click="vm.setEdited(object)" class="button button-light icon ion-compose"></a>
        <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="vm.delete(object.id)"></ion-option-button>
      </ion-item>
    </div>

    <br><br><br>
  </ion-content>
    <div class="tabs tabs-positive">
      <a ng-click="vm.isCreating = true" class="tab-item  ion-person-add"> &nbsp;Adicionar</a>
    </div>
  </div>


<div ng-if="vm.isCreating">
<!--Criar-->

  <ion-content>
    <div class="bar bar-header">
        <h2 class="title">Insira os dados do Aluno</h2>
        <i ng-click="vm.cancelCreate()" class="ion-arrow-left-c"></i>
    </div>
    <br><br>
		<form  name="createForm" ng-submit="vm.create(vm.newObject)" novalidate>
		<div class="list card">
			<div class="item item-input item-floating-label">
				<span class="input-label">Matrícula</span>
				<input type="text" ng-minlength="15" ng-maxlength="15" ng-required="true" placeholder="Matrícula" ng-model="vm.newObject.matricula"></input>
        <h4 class="form-error" ng-show="createForm.$error.required">Campo Obrigatório!</h4>
        <h4 class="form-error" ng-show="createForm.$error.maxlength">Digite uma matrícula com até 15 dígitos!</h4>
        <h4 class="form-error" ng-show="createForm.$error.minlength"></h4>
			</div>
			<div class="item item-input item-floating-label">
				<span class="input-label">Nome</span>
				<input type="text" placeholder="Nome" ng-model="vm.newObject.nome"/>
			</div>
      <div class="item item-input item-select">
        <span class="input-label">Responsável</span>
        <select ng-model="vm.newObject.responsaveis">
          <option ng-repeat="object in vm.dadoResp" value="{{object.id}}">{{object.nome}}</option>
        </select>
      </div>
      <div class="item item-input item-select">
        <span class="input-label">Turmas</span>
        <select ng-model="vm.newObject.turmas" >
          <option ng-repeat="object in vm.dadoTurmas" value="{{object.id}}">{{object.turma}}</option>
        </select>
      </div>
		</form>
			<div class="padding">
				<button class="button button-block button-positive" ng-show='createForm.$valid' type="submit">Salvar</button>
			</div>

		</div>
	</ion-content>
</ion-view>

</div>
<div ng-if="vm.isEditing && !vm.isCreating">

<ion-content>
<!--Editar-->
  <div class="bar bar-header">
      <h1 class="title"> {{vm.edited.nome}}</h1>
      <span ng-click="vm.cancelEditing()" class="ion-arrow-left-c"></span>
  </div>
  <br><br>
  <form name="editForm" role="form" ng-submit="vm.update(vm.edited)" novalidate>
  <div class="list card">
    <div class="item item-input item-floating-label">
      <span class="input-label">Matrícula</span>
      <input type="text" ng-minlength="15" ng-maxlength="15" ng-required="true" placeholder="Matrícula" ng-model="vm.edited.matricula"></input>
      <h4 class="form-error" ng-show="editForm.$error.required">Campo Obrigatório!</h4>
      <h4 class="form-error" ng-show="editForm.$error.maxlength">Digite uma matrícula com até 15 dígitos!</h4>
      <h4 class="form-error" ng-show="editForm.$error.minlength"></h4>
    </div>
    <div class="item item-input item-select">
      <span class="input-label">Turmas</span>
      <select ng-model="vm.edited.turmas" >
        <option ng-repeat="object in vm.dadoTurmas" value="{{object.id}}">{{object.turma}}</option>
      </select>
    </div>
    <div class="item item-input item-floating-label">
      <span class="input-label">Nome</span>
      <input type="text" placeholder="Nome" ng-model="vm.edited.nome"/>
    </div>
    <div class="item item-input item-select">
      <span class="input-label">Responsável</span>
      <select ng-model="vm.edited.responsaveis" >
        <option ng-repeat="object in vm.dadoResp" value="{{object.id}}">{{object.nome}}</option>
      </select>
    </div>
    <div class="item item-input item-select">
      <span class="input-label">Período</span>
      <select ng-model="vm.edited.periodo">
        <option selected>Manhã</option>
        <option>Tarde</option>
        <option>Integral</option>
      </select>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-show='editForm.$valid' type="submit">Salvar</button>
    </div>
    </form>
  </div>
</ion-content>

</div>
