<ion-view view-title="Comunicados" ng-controller="comunicadosRespCtrl as vm">
<ion-content>
  <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Digite o nome da Turma. Ex: Turma A" ng-model="searchText">
  </label>
  <div class="item item-divider">
    Selecione uma Turma
  </div>
  <div  ng-repeat="object in vm.data | filter:{users_turmas:vm.userID} | filter:searchText" ng-class="{'active':vm.isCurrent(object.id)}" show-reorder="reordering">
    <ion-item href="#/menuResp/comunicadosTurmaRespID/{{object.id}}" class="item-remove-animate item-icon-right">
          <h2>Turma: {{object.turma}}</h2>
          <p>Período: {{object.periodo}}</p>
          <p>Ano: {{object.ano}}</p>
    </ion-item>
  </div>

  <br><br><br>
</ion-content>



</ion-view>
