<ion-view view-title="Eventos" ng-controller="eventosCtrl as vm">

  <div ng-if="!vm.isCreating && !vm.isEditing">
  <ion-content>
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Digite o Título do Evento" ng-model="searchText">
    </label>
    <div class="padding has-header">
        <div class="list card" ng-repeat="object in vm.data | filter:searchText"
             ng-class="{'active':vm.isCurrent(object.id)}">
            <div class="item item-icon-right item-icon-left">
                <i class="ion-compose icon" ng-click="vm.setEdited(object)"></i>
                <p class="text-center">Data do Evento: {{object.data | date: 'dd/MM/yyyy'}}</p>
                <h3 class="text-center"><b>{{object.titulo}}</b></h3>
                <br>
                <i class="icon ion-close-round" ng-click="vm.delete(object.id)"></i>
            </div>
            <div id="descricao" class="item item-body">
                {{object.descricao}}
            </div>
        </div>
    </div>

</ion-content>
      <a id="tabAdicionar" ng-click="vm.isCreating = true" class="button button-small button-positive ion-android-add-circle"> &nbsp;Novo Evento</a>
</div>

    <br><br><br>
  </ion-content>

  </div>


  <div ng-if="vm.isCreating">
      <ion-content >
          <!-- CREATING -->
          <div class="bar bar-header">
              <h2 class="title">Criar Evento</h2>
              <i ng-click="vm.cancelCreate()" class="cancel-create">Cancelar</i>
          </div>
          <br><br>
          <div class="padding has-header">
              <form name="eventForm" class="create-form" role="form"
                    ng-submit="vm.create(vm.newObject)" novalidate>
                  <div class="list">
                    <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : eventForm.titulo.$invalid }">
                        <span class="input-label">Título</span>
                        <input name="titulo" type="text" class="form-control" ng-required="true" ng-model="vm.newObject.titulo" placeholder="Escreva o título"></input>
                    </label>
                    <div class="form-errors" ng-messages="eventForm.titulo.$error">
                      <div class="form-error" ng-message="required">Título do Evento Obrigatório!</div>
                    </div>
                      <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : eventForm.desc.$invalid }">
                          <span class="input-label">Descrição</span>
                          <textarea name="desc" class="form-control" ng-required="true" ng-model="vm.newObject.descricao" placeholder="Escreva a descrição"></textarea>
                      </label>
                      <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : eventForm.data.$invalid }">
                          <span class="input-label">Data</span>
                          <input name="data" type="date" class="form-control" ng-required="true" ng-model="vm.newObject.data" placeholder="Selecione a data"></input>
                      </label>
                  </div>
                  <div class="form-error" ng-show="eventForm.$error.required">Preencha todos os campos!</div>
                  <button class="button button-block button-positive" ng-show="eventForm.$valid" type="submit">Criar</button>
              </form>
          </div>
      </ion-content>
  </div>
<div ng-if="vm.isEditing && !vm.isCreating">

<ion-content>
<!--Editar-->
  <div class="bar bar-header">
      <h1 class="title"> {{vm.edited.titulo}}</h1>
      <span ng-click="vm.cancelEditing()" class="cancel-create">Cancelar</span>
  </div>
  <br><br>
  <div class="padding has-header">
  <form name="editForm" class="create-form" role="form"
        ng-submit="vm.update(vm.edited)" novalidate>
        <div class="list">
          <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : editForm.titulo.$invalid }">
              <span class="input-label">Título</span>
              <input name="titulo" type="text" class="form-control" ng-required="true" ng-model="vm.edited.titulo" placeholder="Escreva o título"></input>
          </label>
          <div class="form-errors" ng-messages="editForm.titulo.$error">
            <div class="form-error" ng-message="required">Título do Comunicado Obrigatório!</div>
          </div>
            <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : editForm.desc.$invalid }">
                <span class="input-label">Descrição</span>
                <textarea name="desc" class="form-control" ng-required="true" ng-model="vm.edited.descricao" placeholder="Escreva a descrição"></textarea>
            </label>
            <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : editForm.data.$invalid }">
                <span class="input-label">Data</span>
                <input name="data" type="date" class="form-control" ng-required="true" ng-model="vm.edited.data" placeholder="Selecione a data"></input>
            </label>
        </div>
        <div class="form-error" ng-show="editForm.$error.required">Preencha todos os campos!</div>
      <button class="button button-block button-positive" ng-show="editForm.$valid" type="submit">Salvar</button>
    </div>
  </form>
  </div>
</ion-content>

</div>
</ion-view>
