<ion-view view-title="Comunicados" ng-controller="comunicadosAdminCtrl as vm">

  <div ng-if="!vm.isCreating && !vm.isEditing">
  <ion-content>
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Digite o título ou a data" ng-model="searchText">
    </label>
    <div class="item item-divider">
      Comunicados Gerais
    </div>
    <div class="padding has-header">
        <div class="list card" ng-repeat="object in vm.data | filter:{geral:'geral'} | filter:searchText" ng-class="{'active':vm.isCurrent(object.id)}">
            <div class="item item-icon-right item-icon-left">
                <i class="ion-compose icon" ng-click="vm.setEdited(object)"></i>
                <p class="text-center">{{object.data | date: 'dd-MM-yyyy'}}</p>
                <!--Abaixo virá o nome da Turma com a relação do Banco de Dados-->
                <h3 class="text-center"><b>{{object.turma}}</b></h3>
                <!--Abaixo virá o nome da Turma com a relação do Banco de Dados-->
                <h3 class="text-center"><b>{{object.titulo}}</b></h3>
                <br>
                <i class="icon ion-close-round" ng-click="vm.delete(object.id)"></i>
            </div>
            <div id="descricao" class="item item-body">
                {{object.descricao}}
            </div>
        </div>
    </div>
    <div class="item item-divider">
      Selecione uma Turma
    </div>
    <div  ng-repeat="object in vm.turma | filter:searchText" ng-class="{'active':vm.isCurrent(object.id)}" show-reorder="reordering">
      <ion-item href="#/menu/comunicadosTurma/{{object.id}}" class="item-remove-animate item-icon-right">
            <h2>Turma: {{object.turma}}</h2>
            <p>Período: {{object.periodo}}</p>
            <p>Ano: {{object.ano}}</p>

        <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="vm.delete(object.id)"></ion-option-button>
      </ion-item>
    </div>
    <br><br><br>
</ion-content>
    <a id="tabAdicionar" ng-click="vm.isCreating = true" class="button button-small button-positive ion-android-add-circle"> &nbsp;Comunicado Geral</a>
</div>
  </ion-content>

  </div>


  <div ng-if="vm.isCreating">
      <ion-content >
          <!-- CREATING -->
          <div class="bar bar-header">
              <h2 class="title">&nbsp; &nbsp; &nbsp; Criar Comunicado da Escola</h2>
              <i ng-click="vm.cancelCreate()" class="cancel-create">Cancelar</i>
          </div>
          <br><br>
          <div class="padding has-header">
              <form name="comunicForm" class="create-form" role="form"
                    ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="id" ng-bind="vm.newObject.geral = 'geral'"></div>
                    <div class="id" ng-bind="vm.newObject.data = date.substring(0, 22)"></div>
                  <div class="list">
                    <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : comunicForm.titulo.$invalid }">
                        <span class="input-label">Título</span>
                        <input name="titulo" type="text" class="form-control" ng-required="true" ng-model="vm.newObject.titulo" placeholder="Digite o título">
                    </label>
                    <div class="form-errors" ng-messages="comunicForm.titulo.$error">
                      <div class="form-error" ng-message="required">Título do Comunicado Obrigatório!</div>
                    </div>
                      <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : comunicForm.desc.$invalid }">
                          <span class="input-label">Descrição</span>
                          <textarea name="desc" class="form-control" ng-required="true" ng-model="vm.newObject.descricao" placeholder="Escreva a descrição"></textarea>
                      </label>
                  </div>
                  <div class="form-error" ng-show="comunicForm.$error.required">Preencha todos os campos!</div>
                  <button class="button button-block button-positive" ng-show="comunicForm.$valid" type="submit">Criar</button>
              </form>
          </div>
      </ion-content>
  </div>
<div ng-if="vm.isEditing && !vm.isCreating">

<ion-content>
<!--Editar-->
  <div class="bar bar-header">
      <h1 class="title"> {{vm.edited.titulo}}</h1>
      <span ng-click="vm.cancelEditing()" class="cancel-create">Cancelar</span>
  </div>
  <br><br>
  <div class="padding has-header">
  <form name="editForm" class="create-form" role="form" ng-submit="vm.update(vm.edited)" novalidate>
  <div class="list">
    <label class="item item-input item-floating-label" ng-class="{ 'has-error' : editForm.titulo.$invalid }">
      <span class="input-label">Título</span>
      <input name="titulo" type="text" placeholder="Título" ng-required="true" ng-model="vm.edited.titulo"></input>
    </label>
    <div class="form-errors" ng-messages="editForm.titulo.$error">
      <div class="form-error" ng-message="required">Título do Comunicado Obrigatório!</div>
    </div>
    <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : editForm.desc.$invalid }">
        <span class="input-label">Descrição</span>
        <textarea name="desc" class="form-control" ng-model="vm.edited.descricao" ng-required="true" placeholder="Escreva a descrição"></textarea>
    </label>
  </div>
  <div class="form-error" ng-show="editForm.$error.required">Preencha todos os campos!</div>
  <button class="button button-block button-positive" ng-show="editForm.$valid" type="submit">Salvar</button>
</form>
</div>
</ion-content>

</div>
</ion-view>
