<ion-view cache-view="false" view-title="Criar Responsável" ng-controller="criarRespCtrl as vm">
  <ion-content>
    <div class="bar bar-header">
        <h2 class="title">Insira os dados do Responsável</h2>
    </div>
    <br><br>
    <div>
      <form ng-submit="vm.signup()">
        <div class="id" ng-bind="vm.tipo = 'Responsavel'"></div>
          <div class="list">
              <div class="row">
                  <div class="col">
                      <label class="item item-input">
                          <input id="firstname" name="firstname" type="text" placeholder="Nome"
                                 ng-model="vm.firstName">
                      </label>
                  </div>
                  <div class="col">
                      <label class="item item-input">
                          <input id="username" name="lastname" type="text" placeholder="Sobrenome"
                                 ng-model="vm.lastName">
                      </label>

                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label class="item item-input">
                          <input id="email" name="email" type="email" placeholder="Email"
                                 ng-model="vm.email">
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label class="item item-input">
                          <input id="password" name="password" type="password" placeholder="Senha"
                                 ng-model="vm.password">
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col">

                      <label class="item item-input">
                          <input id="again" name="again" type="password" placeholder="Confirme a senha"
                                 ng-model="vm.again">
                      </label>
                  </div>
              </div>

              <h4 style="color:red;" ng-bind="vm.errorMessage"></h4>

              <div class="">
                  <button class="button button-block button-stable" type="submit">
                      Criar
                  </button>
              </div>
          </div>
      </form>
    </div>
  </ion-content>







  </ion-view>
