<ion-view view-title="Criar Login" ng-controller="respIDCtrl as vm">
  <ion-content>

    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" >
            <h2>CPF: {{vm.perfil.cpf}}</h2>
            <h2>Responsável: {{vm.perfil.nome}}</h2>
            <p ng-repeat="object in vm.aluno | filter: {responsaveis: vm.perfil.id}">Filho(a): {{object.nome}}</p>
      </ion-item>
    </ion-list>
    <div class="item item-divider">
      Criar Login de {{vm.perfil.nome}}
    </div>
    <div>
      <form ng-submit="vm.signup()">
        <div ng-repeat="object in vm.aluno | filter: {responsaveis: vm.perfil.id}" class="id" ng-bind="vm.turma = (object.turmas)"></div>
        <div class="id" ng-bind="vm.tipo = 'Responsável'"></div>
          <div class="list">
              <div class="row">
                  <div class="col">
                      <label class="item item-input">
                          <input id="email" name="email" type="email" placeholder="Email"
                                 ng-model="vm.email">
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label class="item item-input">
                          <input id="firstname" name="firstname" type="text" placeholder="Nome"
                                 ng-model="vm.firstName">
                      </label>
                  </div>
                  <div class="col">
                      <label class="item item-input">
                          <input id="username" name="lastname" type="text" placeholder="Sobrenome"
                                 ng-model="vm.lastName">
                      </label>

                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label class="item item-input">
                          <input id="password" name="password" type="password" placeholder="Senha"
                                 ng-model="vm.password">
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col">

                      <label class="item item-input">
                          <input id="again" name="again" type="password" placeholder="Confirme a senha"
                                 ng-model="vm.again">
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <select ng-model="vm.turma" >
                      <option ng-repeat="object in vm.turmas" value="{{object.id}}">{{object.turma}}</option>
                    </select>

                  </div>
              </div>

              <h4 style="color:red;" ng-bind="vm.errorMessage"></h4>

              <div class="">
                  <button ng-click="$ionicGoBack()" class="button button-block button-stable" type="submit">
                      Criar
                  </button>
              </div>
          </div>
      </form>
    </div>
  </ion-content>







  </ion-view>
