/* Empty. Add your own CSS if you like */
div.id{
	display:none;
}
.icon.new-item {
	position: absolute;
	right: 20px;
	font-size: 20px;
	bottom: 13px;
}
.cancel-create {
	position: absolute;
	right: 20px;
	font-size: 14px;
	bottom: 13px;
	color:#ef4e3a;
}
.ion-arrow-left-c {
	position: absolute;
	left: 5px;
	font-size: 30px;
	bottom: 5px;
	color:#387ef5;
}
[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}
/* Ionic Overwrite! */
.item-icon-left .icon, .item-icon-right .icon {
	font-size: 22px;
}

a.ion-arrow-left-c{
  font-size: 30px;
}

.larger {
    font-size: 120px;
}

.medium {
    font-size: 30px;
}


/** Error Messages **/

/** Styling for the username field **/
label.item.has-error {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

 #profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }
